<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zombies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="zombies">Zombies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="clases">Clases <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="armas">Armas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index">Victimas</a>
            </li>
          </ul>
        </div>
      </nav>
<body id="RE"> 
  <div id ="completo">
    <div id="contenedor">
    <h1>Conoce estos 10 horribles tipos de zombies!</h1>
    <h2>1. El "Sonambulo"</h2>
    <h6>Cesare no es un zombi en el sentido de un muerto viviente, sino en el de un esclavo bajo un profundo trance hipnótico (similar al vudú), causado por el siniestro doctor Caligari. Cesare el Sonámbulo es un ser lastimoso y tétrico que cumple toda orden del doctor, principalmente cometer asesinatos en serie o secuestros. Aparece en Das Cabinet des Dr. Caligari (1920).</h6>
    <img src="img/sonambulo.jpg" class="img-fluid" alt="Responsive image">
    <h2>2. Los Zombis Vudú</h2>
    <h6>Son zombis creados por hechicería vudú, personas normales y vivas que por haber bebido un brebaje ahora están bajo el control de un hechicero bokor que los utiliza como esclavos, obligándolos a trabajar o cometer crímenes inhumanos, sin demostrar ninguna clase de resentimiento. Aparecen en White Zombie (1932) y I Walked with a Zombie (1943).</h6>
    <img src="img/vudu.jpg" class="img-fluid" alt="Responsive image">
    <h2>3. Los Ghouls</h2>
    <h6>Son muertos traídos a la vida gracias a un arma extraterrestre, un rayo enviado por una fuerza invasora para que actúen como soldados de avanzada y diezmen a la humanidad para que la conquista de la Tierra sea más sencilla. No son caníbales, pero sí se mueven de forma muy lenta, atacando y asesinando a toda persona. Aparecen en Plan 9 from Outer Space (1959).</h6>
    <img src="img/ghouls.jpg" class="img-fluid" alt="Responsive image">
    <h2>4. El "Regresado"</h2>
    <h6>Es un soldado que murió en combate, pero inexplicablemente regresó a la vida con todos sus recuerdos y personalidad, lo único diferente es su sed insaciable de sangre humana, el hecho que su cuerpo parece incapaz de morir sin importar que tanto daño sufra, y que su condición se contagia a las personas de las que se alimenta. Aparecen en The Revenant (2009)</h6>
    <img src="img/regresado.jpg" class="img-fluid" alt="Responsive image">
    <h2>5. Los Desquiciados</h2>
    <h6>Surgen a causa de un virus experimental diseñado como arma de nombre código “Trixie”, el cual se mezcla con las reservas de agua de un pequeño pueblo; aquel que beba el agua muere, o en el peor de los casos, se vuelve un psicópata asesino, violento y cruel, que matará cualquier cosa o persona que tenga en frente. Aparecen en The Crazies (1973).</h6>
    <img src="img/desquiciados.jpg" class="img-fluid" alt="Responsive image">
    <h2>6. Los Zombis Italianos</h2>
    <h6>Son muertos que vuelve a la vida inicialmente por una maldición vudú puesta sobre la tierra de la isla de Matul, la cual se alimenta de las almas de los muertos y convierte en zombi a cualquiera que sea enterrado en ella o sea mordido por un zombi. Estas criaturas caníbales pueden reactivarse incluso después de siglos de haber muerto. Aparecen en Zombi 2 (1979).</h6>
    <img src="img/italianos.jpg" class="img-fluid" alt="Responsive image">
    <h2>7. Los Reanimados</h2>
    <h6>Son cadáveres vueltos a la vida por una maldición del Necronomicon (el libro de los muertos), su poder también es capaz de convertir a seres vivos en esta clase de zombis y pueden trasmitir la maldición mediante mordidas, no son caníbales pero sí matan a todo el que se opone a los deseos del libro. Aparecen en Evil Dead (1981) y Army of the Dead (1992).</h6>
    <img src="img/reanimados.jpg" class="img-fluid" alt="Responsive image">
    <h2>8. Los Creeps</h2>
    <h6>Este tipo de zombis aparecen cuando unos parásitos espaciales se introducen dentro del cuerpo humano y toman control de sus funciones, convirtiendo a su huésped en un monstruo que no experimenta dolor que sigue activo aun después de sufrir daño extremo y tienen ansias asesinas. Aparecen en Night of the Creeps (1986) y una versión similar en Slither (2006).</h6>
    <img src="img/creeps.jpg" class="img-fluid" alt="Responsive image">
    <h2>9. Los Malditos</h2>
    <h6>Surgen cuando un muerto es enterrado en un antiguo cementerio Micmac, cuyas tierras están malditas por la desaparecida tribu. El cadáver regresa a la vida, pero vuelve con su alma corrupta y podrida, convertido en un monstruo malvado y asesino, capaz de engañar, manipular, torturar y asesinar a cualquiera. Aparecen en Pet Sematary (1989).</h6>
    <img src="img/malditos.jpg" class="img-fluid" alt="Responsive image">
    <h2>10. Los Tyrant</h2>
    <h6>Surgen a causa del contacto con el virus T, un arma bacteriológica experimental de efectos inestables en los seres vivos, que mata al contagiado y lo convierte en un zombi caníbal. El virus también puede convertir a ciertas personas en mutantes monstruosos, todos son portadores del virus, contagiándose con una mordida. Aparecen en Resident Evil (2002).</h6>
    <img src="img/tyrant.jpg" class="img-fluid" alt="Responsive image">
</div>

</div>

</body>

</html>